In [1]:
import os
import numpy as np
import pandas as pd
pd.__version__

u'0.18.1'

In [4]:
import h2o
from h2o.estimators.deeplearning import H2ODeepLearningEstimator

h2o.init()

------------------------------  ---------------------------------------
H2O cluster uptime:             6 minutes 5 seconds 138 milliseconds
H2O cluster version:            3.8.2.3
H2O cluster name:               H2O_started_from_python_dlnovell_hat575
H2O cluster total nodes:        1
H2O cluster total free memory:  1.67 GB
H2O cluster total cores:        2
H2O cluster allowed cores:      2
H2O cluster healthy:            True
H2O Connection ip:              127.0.0.1
H2O Connection port:            54321
H2O Connection proxy:
Python Version:                 2.7.11
------------------------------  ---------------------------------------

In [6]:
train = h2o.import_file(os.path.abspath("../../data/train.csv"))
train.describe()

Parse Progress: [##################################################] 100%
Rows:891 Cols:12

Chunk compression summary:

chunk_type    chunk_name                 count    count_percentage    size     size_percentage
------------  -------------------------  -------  ------------------  -------  -----------------
CBS           Bits                       2        16.6667             364  B   0.814154
C1            1-Byte Integers            2        16.6667             1.9 KB   4.28996
C1N           1-Byte Integers (w/o NAs)  3        25                  2.8 KB   6.43495
C2            2-Byte Integers            1        8.33333             1.8 KB   4.13787
C2S           2-Byte Fractions           1        8.33333             1.8 KB   4.17366
C4            4-Byte Integers            1        8.33333             3.5 KB   8.12364
C4S           4-Byte Fractions           1        8.33333             3.6 KB   8.15943
CStr          String                     1        8.33333             27.9 KB  63.8663

Frame distribution summary:

                 size     number_of_rows    number_of_chunks_per_column    number_of_chunks
---------------  -------  ----------------  -----------------------------  ------------------
127.0.0.1:54321  43.7 KB  891               1                              12
mean             43.7 KB  891               1                              12
min              43.7 KB  891               1                              12
max              43.7 KB  891               1                              12
stddev           0  B     0                 0                              0
total            43.7 KB  891               1                              12

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
type,int,int,int,string,enum,real,int,int,int,real,enum,enum
mins,1.0,0.0,1.0,NaN,0.0,0.42,0.0,0.0,693.0,0.0,0.0,0.0
mean,446.0,0.383838383838,2.30864197531,NaN,0.64758698092,29.6991176471,0.523007856341,0.381593714927,260318.549168,32.2042079686,NaN,NaN
maxs,891.0,1.0,3.0,NaN,1.0,80.0,8.0,6.0,3101298.0,512.3292,146.0,2.0
sigma,257.353842015,0.486592454265,0.836071240977,NaN,0.477990070896,14.5264973323,1.10274343229,0.80605722113,471609.268688,49.6934285972,NaN,NaN
zeros,0,549,0,0,314,0,608,678,0,15,1,168
missing,0,0,0,0,0,177,0,0,230,0,687,2
0,1.0,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,nan,7.25,,S
1,2.0,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1.0,0.0,nan,71.2833,C85,C
2,3.0,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,nan,7.925,,S
3,4.0,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803.0,53.1,C123,S
4,5.0,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450.0,8.05,,S
5,6.0,0.0,3.0,"Moran, Mr. James",male,nan,0.0,0.0,330877.0,8.4583,,Q
6,7.0,0.0,1.0,"McCarthy, Mr. Timothy J",male,54.0,0.0,0.0,17463.0,51.8625,E46,S
7,8.0,0.0,3.0,"Palsson, Master. Gosta Leonard",male,2.0,3.0,1.0,349909.0,21.075,,S
8,9.0,1.0,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0.0,2.0,347742.0,11.1333,,S
9,10.0,1.0,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1.0,0.0,237736.0,30.0708,,C